# Project exclude paths
/consumer/target/
/eureka-client/target/
/eureka-server/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/rest-template/target/
/ribbon/target/
/zuul/target/